[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
nuitka = "*"
ptpython = "*"
pytest = "*"

[packages]
sh = "*"
tabulate = "*"
terminaltables = "*"

[scripts]
app = "python cli.py"
build = "python -m nuitka --follow-imports --include-plugin-directory='package_manager' --standalone --show-progress cli.py"
repl="ptpython"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
