[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
nuitka = "*"

[packages]
click = "*"
sh = "*"
tabulate = "*"

[scripts]
app = "python app.py"
build = "python -m nuitka --follow-imports --include-plugin-directory='managers' --standalone --show-progress app.py"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
